<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>
<td th:text="${user.userId}"></td>
<td th:text="${user.employeeId}"></td>
<td th:text="${user.userName}"></td>
<td th:text="${user.bankBranch}"></td>
<td th:text="${user.passWord}"></td>
<td th:text="${user.tel}"></td>
<td th:text="${user.eMail}"></td>
<td th:text="${user.gender}"></td>
<td th:text="${user.avatar}"></td>
<td th:text="${user.weChatNo}"></td>
<td th:text="${user.integration}"></td>
<td th:text="${user.right}"></td>
</body>
</html>