<script src="../common.js"></script>
<script src="../js/lib/jquery-3.2.1.min.js"></script>
<div align="center">
<p>工号: <input id="employeeId" type="text" name="employeeId" /></p>
<p>密码: <input id="pwd" type="password" name="pwd" /></p>
    <button id="submit" onclick="checkLogin()" >登录</button>
</div>


<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
    <!--<meta charset="UTF-8"/>-->
    <!--<title>请登录</title>-->
<!--</head>-->
<!--<body>-->
<!--<form align="center" action="adminLogin" method="post">-->
    <!--<p>工号: <input id="employeeId" type="text" name="employeeId" /></p>-->
    <!--<p>密码: <input id="pwd" type="password" name="pwd" /></p>-->
    <!--&lt;!&ndash;<button id="submit" onclick="checkLogin()" >登录</button>&ndash;&gt;-->
    <!--<p><button>提交</button>-->
    <!--</p>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->